<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="with=device-width, initial-scale=1.0">
    <title>YIPO - let your things come home</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <script src="../static/js/script.js"></script>
    <style>
        img {
            width: 250px;
            margin-top: 10px;
            border-radius: 100px;
            vertical-align: left;
        }
    </style>
</head>


<body>



    <header>
        <div class="logo"><a href="index.html"><img src="../static/images/YIPO logga.png"></a>
        </div>
        <div class="navbar">

            <ul>

                <li><a href="index.html">STARTSIDA</a></li>
                <li><a href="beställning.html">BESTÄLLNING</a></li>
                <li><a href="#">OM YIPO</a></li>
                <li><a href="#kontakt">KONTAKT</a></li>

            </ul>

        </div>
        </div>


    </header>

    <h1 style="color:aliceblue;margin-top: 200px; font-size:250%;">
        <center>Let Your Things Come Home!</center>
    </h1>
    <h6
        style="color:aliceblue;font-weight: normal;letter-spacing: 0.08em;margin-top: 70px; margin-left: 200px;margin-right: 200px; font-size:150%">
        <center>Har du glömt något hos en kompis? Kanske en mössa eller en handske? Vid dåligt väder vill du kanske
            sitta inomhus och vid fint väder är kanske promenaden för att hämta din vante inte värd din tid. Då finns
            YIPO. Ett hållbart leveransalternativ som använder drönare för att hämta och lämna paket. Beställ din
            drönare nu och få hem dina grejer på nolltid! 15% rabatt om du beställer nu! Rabattkod: ranaärbäst</center>
    </h6>
    <div><a style="color: white; float: left; margin-left: 500px;margin-top: 100px; font-size: 180%;"
            href="beställning.html">
            Beställ drönare
        </a></div>
    <div><a style="color: white; float: right; margin-right: 500px;margin-top: 100px;font-size: 180%;">
            Spåra paket
        </a></div>




    <div class="parent">
        <div class="child">För att spåra ditt paket skriv ditt spårningsnummer här</div>
        <div class="input"><input type="text" id="name" name="name" required minlength="15" maxlength="15" size="30">
        </div>
        <a href="map.html" target="_blank">
            <div id="button" class="button"><input class="favorite styled" type="button" value="Spåra"></div>
        </a>

    </div>



    <footer>
        <div class="text">Betygsätt din upplevelse</div>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <div id="btn" class="btn"><input onclick="displayText()" class="btn" type="button" value="Skicka"></div>
        <div id="recension" class="recension"></div>
        <div id="kontakt" class="kontakt">Kontakta oss:

            <div id="mail" class="mail"><a style="color: #fdffb5ed;"
                    href="mailto:yipo_team2023@gmail.com?subject = Feedback&body = Message">
                    yipo_team2023@gmail.com
                </a></div>
        </div>



    </footer>

</body>

</html>